streamlit>=1.32.0
pandas>=2.0.0
google-auth>=2.28.0
google-auth-oauthlib>=1.2.0
google-auth-httplib2>=0.1.0
google-api-python-client>=2.0.0
python-dotenv>=1.0.0
#streamlit==1.22
#git+https://github.com/streamlit/gsheets-connection
#pandasql  # this is for example/st_app.py only
#streamlit_gsheets
#st-gsheets-connection
#streamlit-gsheets
#pandas
#numpy
#streamlit>=1.32.0
#pandas>=2.0.0
#google-auth>=2.28.0
#google-auth-oauthlib>=1.2.0
#google-auth-httplib2>=0.1.0
#google-api-python-client>=2.0.0
#pytest>=7.0.0
#python-dotenv>=1.0.0